<textarea
  rows="1"
  class="CommandLine-control"
  placeholder="Enter a pilot name"
  spellcheck="false"
  onclick={{action "clear"}}
  oninput={{perform runSentinelQuery value="target.value"}} />

<div class="CommandLine-message">
  {{#if runSentinelQuery.isRunning}}
    Searching...
  {{else}}
    {{#liquid-if @message use="fade" shrinkDelay=2000}}
      {{@message}}
    {{else if (and results hasKeyedUp)}}
      Tab to navigate results, enter to select
    {{else if (and results hasKeyedUp)}}
      No results.
    {{else}}
      Or ctrl+v a list of channel members.
    {{/liquid-if}}
  {{/if}}
</div>
