<div class="SelectedEntity-background" style={{backgroundImage}} />

<div class="SelectedEntity-data">
  <h1 class="SelectedEntity-name">{{entity.name}}</h1>
  
  <div class="SelectedEntity-group">
    {{#if entity.alliance}}
      <img src={{eve-avatar "alliance" entity.alliance.id 32}} />

      {{entity.alliance.name}}
    {{else}}
      <img src={{eve-avatar "corporation" entity.corporation.id 32}} />

      {{entity.corporation.name}}
    {{/if}}
  </div>

  <br>

  <button class="Button Button--mini" {{action "clearEntity"}}>
    Remove
  </button>

  <br>

  <br>

  <br>

  {{#each-in mostCommonShipType as |ship key|}}
    <img src={{eve-avatar "render" ship 32}} />
  {{/each-in}}

  <br>

  Danger: <span class="primary">{{entity.dangerRatio}}</span>
  <br>
  Known Cyno: <span class="primary">{{if entity.knownCyno 'Yes' 'No'}}</span>
  <br>
  Avg fleet size: <span class="primary">{{averageFleetSize}}</span>
  <br>

  {{#if (eq lastActive 'N/A')}}
    Not yet seen in fleet
  {{else}}
    Last seen {{moment-from-now lastActive interval=1000}}
  {{/if}}
</div>
