<ContainerBlock>
  <aside class="SearchPane {{if searchPaneCollapsed 'SearchPane--collapsed'}}">
    <section class="SearchPane-viewport">
      <CommandLine
        @onResult={{action "setResult"}}
        @onSelect={{action "pushResult"}}
        @focusCommandLine={{focusCommandLine}}
        @message={{message}} />

      {{#liquid-if results.length class="SearchResults"}}
        {{#each results as |result|}}
          <SearchResult
            @result={{result}}
            @onSelect={{action "pushResult" }} />
        {{/each}}
      {{/liquid-if}}
    </section>

    <section class="SearchPane-toggle">
      <button class="SearchPane-button" {{action "toggleSearch"}}>
        {{svg-jar "arrow"}}
      </button>
    </section>
  </aside>

  <div class="SelectedEntities {{if searchPaneCollapsed 'SelectedEntities--expanded'}}">
    {{#each selected as |entity|}}
      <SelectedEntity
        @entity={{entity}}
        @removeEntity={{action "removeEntity"}} />
    {{/each}}
  </div>

</ContainerBlock>
