<ContainerBlock>
  <aside class="Pane Pane--left {{if searchPaneCollapsed 'Pane--collapsed'}}">
    <section class="Pane-viewport">
      {{#if character}}
        <label for="standingFilter" class="Toggle {{if standingFilter 'Toggle--checked'}}">
          {{input class="Toggle-control" id="standingFilter" type="checkbox" checked=standingFilter onchange=(action 'toggleStandingFilter')}}

          <span class="Toggle-label">
            {{#liquid-if standingFilter use="fade"}}
              Filtering out blues
            {{else}}
              Showing all matches
            {{/liquid-if}}
          </span>
        </label>
      {{else}}
        <button class="Button Button--mini" {{action "authorize"}}>
          Log in to filter out friendlies
        </button>
      {{/if}}

      <CommandLine
        @focusCommandLine={{focusCommandLine}}
        @standingFilter={{standingFilter}}
        @message={{message}}
        @runSentinelQuery={{runSentinelQuery}}
        @runBatchSentinelQuery={{runBatchSentinelQuery}}
        @hasKeyedUp={{hasKeyedUp}}
        @results={{results.length}} />

      {{#liquid-if results.length class="SearchResults"}}
        {{#each (if standingFilter resultsWithoutBlues results) as |result|}}
          <SearchResult
            @result={{result}}
            @onSelect={{action "pushResult" }} />
        {{/each}}
      {{/liquid-if}}
    </section>

    <section class="Pane-toggle">
      <button class="Pane-button" {{action "toggleSearch"}}>
        {{svg-jar "arrow"}}
      </button>
    </section>
  </aside>

  <div class="SelectedEntities {{if searchPaneCollapsed 'SelectedEntities--expanded'}}">
    {{#if runSentinelQuery.isRunning}}
      <LoadingAnimation />
    {{/if}}

    {{#each (if standingFilter selectedWithoutBlues selected) as |entity|}}
      <SelectedEntity
        @entity={{entity}}
        @removeEntity={{action "removeEntity"}} />
    {{/each}}
  </div>
</ContainerBlock>
